input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.properties-pagar{
    margin-left: 50vw;
}

.properties{
    resize: none;
}

.properties-autos{
    overflow-x: hidden;
    max-height: 50vh;
    cursor: pointer;
}

.properties-tabla-autos{
    overflow-x: hidden;
    max-height: 80vh;
}

.properties-tabla-reportes{
    overflow-x: hidden;
    max-height: 70vh;
}

.properties-button{
    width: 100%;
}